a#fotomia{height: 300px;}
body{
    background-color: rgb(84, 159, 202);
}
header{display: flex;
    background-color: rgb(0, 0, 0);
}
h1{
    font-size: 80px;
    text-align: center;
    color: rgb(00, 00, 225);
    text-decoration: underline;
    text-shadow: 5px 5px 2px grey;
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 30px;

}
h2{
    font-size: 20px;
    text-align: left;
    color: rgb(00, 00, 225);
    font-style: italic;
    font-weight: bold;
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 30px;
}
ul li {margin-top: 30px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 30px;}
li#gris{color: #808080;}
li#morada{color: #9932cc;}
li#rojo{color: #8b0000;}
li#azul{color: #0000ff;}
li#amarillo{color: #b8860b;}
p{
    font-size: 18px;
    text-align: justify;
    color: #141414;
    font-family: Verdana, Tahoma, sans-serif;
    text-indent: 1cm;
}
footer{
    color: #ffffff;
    background-color: #00000c;
    font-size: 25px;
    text-align: center;
    min-height: 90px;

}
img{margin-top: 30px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 30px;}
table {margin-top: 30px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 30px;
    text-align: center;
}
table .colspan{background-color: #ff0000;}
footer a{
    text-decoration: none;
    color: #ffffff;
}
#furbol{
    margin-top: 350px;
    text-decoration: none;
    text-align: end;
    color: #ffffff;
    font-size: 25px;
    border: #ffffff 3px solid;
}
#pentágono{   
    fill: white;
    animation: moverpentágono 4s infinite ease-out;
}
@keyframes moverpentágono{
   100%{
       transform: translateX(100px)
   }
}
@media(max-width: 800px) {
    svg{
        width:100%;
        float: none;
    }
}
@media(max-width: 800px) {
    header{
        width:100%;
        flex-direction: column; 
        align-items: center;
    }
}
@media(max-width: 800px) {
    #fotomia {
        float: none;
        width:50%;
    }
}
